extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  .container.my-3
    .row
      .col-12
        +box-head(pageTitle)
        button(
          class="btn btn-primary"
          button-play-playlist
          data-id=playlistId
        ) Phát Playlist
        .row.mt-3
          .col-12
            div#aplayer1
    .row
      each item in songs
        .col-6.mb-3
          div(class="song-item")
            div(class="inner-image")
              a(href=`/songs/detail/${item.slug}`) 
                img(src=item.avatar)
            div(class="inner-content")
              div(class="inner-title")
                a(href=`/songs/detail/${item.slug}`) #{item.title}
              div(class="inner-singer")
                if item.infoSinger
                  <i class="fa-solid fa-microphone-lines"></i> #{item.infoSinger.fullName}
                else
                  <i class="fa-solid fa-microphone-lines"></i> Không rõ
              div(class="inner-like")
                <i class="fa-solid fa-thumbs-up"></i> #{item.like || 0}
              div(class="inner-time")
                <i class="fa-regular fa-clock"></i> Hôm nay
