extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
block main
  .singer-detail
    .container.my-3
      .row
        .col-12
          .inner-title #{song.title}
          .inner-actions.mt-2
            div(class="inner-action inner-time")
              <i class="fa-regular fa-clock"></i> 
                +formatDate(song.updatedAt)
            div(class="inner-action inner-singer")
              <i class="fa-solid fa-microphone-lines"></i> #{singer.fullName}
            div(class="inner-action inner-topic")
              <i class="fa-solid fa-music"></i> #{topic.title}
            div(class="inner-action inner-like" button-like=song.id)
              <i class="fa-regular fa-thumbs-up"></i>
              <span>#{song.like} thích</span>
            div(class="inner-action inner-listen")
              <i class="fa-solid fa-headphones"></i>
              span #{song.listen} lượt nghe
            div(class=("inner-action inner-heart " + (song.isFavoriteSong ? "active" : "")) button-favorite=song.id)
              <i class="fa-regular fa-heart"></i> Bài hát yêu thích
            button(
              class="btn btn-success"
              button-add-playlist
              data-id=song.id
            )
              i(class="bi bi-plus-lg") 
              | Thêm vào danh sách phát
          .inner-play
            .inner-avatar
              img(src=song.avatar)
            .inner-audio
              //- audio(controls)
              //-   source(src="https://backend.daca.vn/assets/audios/cat-doi-noi-sau.mp3")
              div(
                id="aplayer"
                data-song=song
                data-singer=singer
              )
          .inner-desc
            .inner-label Mô tả
            .inner-text
              | !{song.description}
          .inner-desc
            .inner-label Lời bài hát
            .inner-text
              | !{song.lyrics}



  //- Modal chọn playlist
  div.modal.fade#playlistModal(tabindex="-1" aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Chọn Playlist
          button.btn-close(data-bs-dismiss="modal" aria-label="Close")
        div.modal-body
          if playlists && playlists.length > 0
            ul#playlistList.unstyled-list
              each playlist in playlists
                li
                  div.form-check
                    input.form-check-input(
                      type="checkbox" 
                      id=`playlist-${playlist._id}` 
                      value=`${playlist._id}` 
                      checked=playlist.isChecked ? true : false
                    )
                    label.form-check-label(for=`playlist-${playlist._id}`) #{playlist.title}
          else
            p Chưa có danh sách phát nào
        div.modal-footer
          button.btn.btn-primary#createNewPlaylist(type="button") Tạo Playlist Mới
          button.btn.btn-success#addToPlaylist(type="button") Thêm vào Playlist
          button.btn.btn-secondary(data-bs-dismiss="modal") Đóng

  div.modal.fade#createPlaylistModal(tabindex="-1" aria-labelledby="createPlaylistModalLabel" aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5#createPlaylistModalLabel.modal-title Tạo Playlist Mới
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        div.modal-body
          form#playlistForm
            div.mb-3
              label(for="playlistTitle") Tên Playlist
              input#playlistTitle.form-control(type="text" placeholder="Nhập tên playlist")
            div.mb-3
              label(for="playlistStatus") Trạng Thái
              select#playlistStatus.form-control
                option(value="public") Công khai
                option(value="private") Riêng tư
        div.modal-footer
          button.btn.btn-success(type="button" id="savePlaylist") Lưu Playlist
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Hủy
